:root {
  --banner-color: #07a4b5;
  --banner-color_dark: #038796;
  --banner-hover-color: #028593;
  --secondary-light: #ecf3f4;
  --primary-dark: #969393;
  --secondary-linear-gradient: linear-gradient(
    90deg,
    rgba(12, 12, 12, 0.7) 0%,
    rgba(11, 10, 10, 0.48) 50.4%,
    rgba(162, 162, 162, 0.329) 100%
  );
  --big-font-size: 70px;
  --medium-font-size: 48px;
  --sm2-font-size: 20px;
  --h5-size: 24px;
  --sm-font-size: 18px;
  --fontColor-primary-light: #f9fcfd;
  --fontColor-primary-dark: #504e4e;
  --text-color: #ffcb89;
  --border-radius-sm: 8px;
  --btn-text-color: #f9fcfd;
  --general-font-family: "Buenard", serif;
}

.proSearch {
  margin-top: 9rem;
  padding: 3rem 4rem;
  background-color: var(--banner-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.proSearch h3 {
  font-size: var(--sm-font-size);
  color: var(--fontColor-primary-light);
  font-family: var(--general-font-family);
  font-weight: 400;
  flex: 1;
}

.proSearch form {
  flex: 1;
  display: flex;
  align-items: center;
  height: 4rem;
  border-radius: 19px;
  background-color: #ffffff;
  overflow: hidden;
}

.proSearch form input {
  height: 100%;
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 1.5rem;
}

.proSearch form button {
  height: 100%;
  background-color: #ecf3f4;
  padding: 0 1rem;
  padding-right: 3rem;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.proSearch span {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.proSearch span button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
