.proSearch {
  margin-top: 9rem;
  padding: 3rem 4rem;
  background-color: var(--banner-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.proSearch div {
  flex: 1;
  display: flex;
  align-items: center;
  height: 4rem;
  border-radius: 8px;
  background-color: #ffffff;
  overflow: hidden;
}

.proSearch div input {
  height: 100%;
  flex: 1;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 1.5rem;
}

.proSearch div button {
  height: 100%;
  background-color: #ecf3f4;
  padding: 0 1rem;
  padding-right: 3rem;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.proSearch span {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.proSearch span button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media (max-width: 560px) {
  .proSearch span {
    flex: 0;
  }

  .proSearch div button {
    padding-right: 3rem;
    font-size: 1.7rem;
  }

  .proSearch div input {
    flex: 1;
    padding: 0 0;
    padding-left: 1rem;
  }
}

@media (max-width: 339px) {
  .proSearch {
    padding: 3rem 2rem;
  }

  .proSearch div button {
    padding-right: 2rem;
    font-size: 1.7rem;
  }
}
